:root {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

button {
  padding: 0;
  margin: 0;
  background: transparent;
  border: 0;
  cursor: pointer;
  font-size: 16px;
}
th, td {
  text-align: left;
  vertical-align: middle;
}

th button {
  text-transform: capitalize;
}
.icon {
  height: 16px;
}

