:root {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

button {
  padding: .3rem;
  margin: 0;
  background: transparent;
  border: 1px solid #dddddd;
  border-radius: .2rem;
  cursor: pointer;
  font-size: 16px;
  color: darkblue;
}
button:hover {
  background: #efefef;
  border: 1px solid #eeeeee;
  color: darkred;
}
button:active {
  background: #444444;
  border: 1px solid #000000;
  color: #eeeeee;
}
th, td {
  text-align: left;
  vertical-align: middle;
}

th button {
  text-transform: capitalize;
}
.icon {
  height: 16px;
}

